# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore


_docs/
AGENTS.md
CLAUDE.md
.agents
.claude
.codex
.vscode

# Dart/Flutter generated local files
.dart_tool/
**/.dart_tool/
pubspec_overrides.yaml
**/pubspec_overrides.yaml
**/.flutter-plugins-dependencies

# Local temp files
.tmp_jar/

# JetBrains IDE
.idea/
*.iml

scripts/
!examples/scripts/
!examples/scripts/**
examples/host4_gmacro_demo_*.zip
Server/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
build/

*.mov
*.mp4

.code_runs
.codeflow.yaml

Pods/NIMSDK_LITE/NIMSDK/NIMSDK.framework/NIMSDK
Pods/QY_iOS_SDK/SDK/QYSDK.framework/QYSDK
Pods/UMAPM/UMAPM_1.6.3/UMAPM.framework/UMAPM
Pods/UMCCommon/UMCommon_7.3.6/UMCommon.framework/Versions/A/UMCommon
